@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container-fluid">
    <p class="row ">
        <a class="text-center col-12"  asp-action="NewQuizPage">Générer un nouveau quiz</a>
    </p>
    <p class="row ">
        <a class="text-center col-12"  asp-action="PassQuizPage">Passer un quiz</a>
    </p>
    <p class="row ">
        <a class="text-center col-12"  asp-action="ReviewQuizPage">Réviser un quiz</a>
    </p>
</div>



